* {
    font-size: 100%;
    font-family: 'Playfair Display';
    color: black
}

.header {
    /* padding: 60px; */
    text-align: center;
    color: black;
    font-size: 30px;
    display: grid;
}

body {
    background-image: url(images/startscreen.png);
    width: 660px;
    height: 700px;
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: Black;
    font-size: 20px;
}

h2{
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 265px;
    left: 60px;
}

h3{
    text-align: center;
    /* border: 3px solid rgb(175, 36, 175);
    width: 10%; */
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    left: 290px;
}

#start {
    margin: auto;
    text-align: center;
    width: 10%;
    border: 3px solid rgb(175, 36, 175);
    position: absolute;
    top: 350px;
    left: 270px;
}

#restart {
    margin: auto;
    width: 10%;
    border: 3px solid rgb(175, 36, 175);
    
    position: absolute;
    top: 350px;
    left: 260px;
}

#gengar{
    position: absolute;
    top: 200px;
    right: 180 px; 
}
#haunter{
    position: absolute;
    width: 400px;
    height: 260px;     
}
#gastly{
    position: absolute;
    top: 200x;
    left: 580px;     
}
#ash{
    position: absolute;
    top: 200px;
    left: 320px;

}

#pikachu{
    position: absolute;
    top: 250px;
    left: 620px;
    

}

#awsd{
    position: absolute;
    top: 550px;
    left: 50px;
}

#arrows{
    position: absolute;
    top: 550px;
    left: 470px;
}

h4{
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 480px;
    left: 60px;
}
h5{
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 475px;
    left: 500px;

}
h6{
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 20px;
}

#score{
    text-align: center;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 300px;

}


#gameScreen{
    background-size: auto;
    width: max-content;
    height: max-content;
    color:rgb(175, 36, 175) ;
}

